<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NotabilityBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="TalkCleanupWikiBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><applicationSettings>
		<NotabilityBot.Properties.Settings>
			<setting name="Login" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Criteria" serializeAs="String">
				<value>User:AeroBot/Notability.css</value>
			</setting>
			<setting name="UserExclusions" serializeAs="String">
				<value>User:AeroBot/Notability/OptOut</value>
			</setting>
		</NotabilityBot.Properties.Settings>
	</applicationSettings>
</configuration>
